@font-face {
  src: url("fonts/Aileron-Bold.otf");
  font-family: mainFontBold;
}

@font-face {
  src: url("fonts/Aileron-Light.otf");
  font-family: mainFont;
}

* {
  font-family: mainFont, sans-serif !important;
}

*.bold {
  font-family: mainFontBold, sans-serif !important;
}

.blur-transition {
}

.translate-transition {
  transition: transform 2s ease-in-out;
}

.blur-transition-active {
  animation: blur 2s ease-in-out;
}

@keyframes blur {
  0%, 100% {
    filter: blur(0px);
  }
  20%, 80% {
    filter: blur(48px) opacity(10%) sepia(50%);
  }
}